$black: #000000;
$white: #ffffff;

$gray-border: #cccccc;
$gray-logo: #818181;
$gray-main: darken($gray-lighter, 10%); // #d5d5d5
$gray-side: $gray; // #555555
$gray-tabs: $gray-light; // #999999
$gray-xlight: #e0e0e0;