// Import lib dependency (bootstrap + bourbon + Font-awesome)
@import "lib";
@import "mixins";

@import "animation";
@import "bootstrap";

// Plugins css
@import "selectizebs3";

// Import google font
// @import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

// GENERIC TAGS

body
{
	background: $white;
}

.actions{
    
    text-align: right;

    & > * {
        display: inline-block;
    }
}

form {
    .form-inline {
        margin-bottom: 15px;
        label {
            display: block;
        }
    }
}

.menu {
    padding-top: 20px;
}

table {
    .label {
        font-size: 90% !important;
        font-weight: normal !important;
    }

    td:last-of-type {
        min-width: 150px;
    }
}

form {

    .submit {
        background-color: $gray-lighter;
        padding: 20px 10px;
        text-align: right;

        .btn {
            min-width: 100px;
        }
    }
}




@import "media_queries";

